:root{
    --main-color: #2c3e50;
}
html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f5f6fa;
}

a{
    text-decoration: none;
}

.hidden {
    display: none !important;
}

/* header */
header{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: #ffffff;
}
.logo > img{
    width: 30px;
    height: 20px;
    padding: 0 10px;
    background-repeat: no-repeat;
    background-size: cover;
}
header > div{
    padding: 0 10px;
}

/* main */
main{
    display: flex;
    flex: 1;
    flex-direction: row;
}

nav{
    display: flex;
    min-width: 53px;
    max-width: 300px;
    height: 96vh;
    flex-direction: row;
    background-color: #ecf0f1;
}


.icon-bar {
    background-color: #bdc3c7;
    width: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.icon-top a{
    display: block;
    text-decoration: none;
    width: 100%;
    height: 62px;
    line-height: 57px;
    font-size: 43px;
    text-align: center;
    color: #2c3e50;
}
.icon-bottom a {
    display: block;
    text-decoration: none;
    width: 100%;
    line-height: 57px;
    font-size: 43px;
    text-align: center;
    color: #2c3e50;
}
.icon-bottom a:nth-child(2) {
    position: relative;
}
.notification{
    position: absolute;     
    top: -5px;              
    right: -5px; 

    background-color: #f92424;
    color: white;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

.icon-top a:hover,
.icon-bottom a:hover {
    background-color: #dcdde1;
    color: #3498db;
}
.icon-top a.focus {
    background-color: #dcdde1;
}
.icon-name{
    font-size: small;
    line-height: 1px;
}

.chat-user {
    display: none;
    width: 247px;
    max-height: 100%;
    background-color: #e2e2e2;
    position: relative;
    flex-direction: column;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-user.active {
    display: flex;  /* 기존에 flex였던 걸 여기로 옮김 */
}

.chat-header {
    flex: 0 0 auto;
    margin: 0;
    padding: 15px 20px;
    font-weight: bold;
    color: #2c3e50;
    background-color: #d7dbdd;
    border-bottom: 1px solid #ccc;
}

.chat-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 10px 20px;
    
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
}
.chat-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.coworker-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    max-width: 330px;
    margin: 3px 0;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.coworker-card:hover {
    background-color: #bdc3c7;
}
.coworker-card span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.coworker-card span b {
    font-size: 18px;
    color: #2c3e50;
}
.coworker-card span p {
    font-size: 14px;
    color: #7f8c8d;
    margin: 0;
}
.coworker-card p:last-child {
    font-size: 15px;
    color: #34495e;
    line-height: 1.0;
}

.newChatroom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    user-select: none;
    transition: background-color 0.2s ease;
}

.newChatroom:hover {
    background-color: #357abd;
}

.newChatroom:active {
    box-shadow: 0 0 1px 1px #2c3e50;
    outline: none;
}


.main-view{
    flex: 1;
    background-color: #ffffff;
    overflow: hidden;
}
