<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="{{_csrf.token}}">
    <meta name="_csrf_header" content="{{_csrf.headerName}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="/user/css/common.css">
    <link rel="stylesheet" href="/user/css/message.css">
    <script src="/user/js/message.js"></script>
    <title>사용자 message</title>
</head>

<body>
    <header>
        <div class="logo">
            <img src="/user/images/logo.png" alt="CoreNet">
        </div>
        <div>
            {{loginUser.userName}} 님 / 로그아웃
        </div>
    </header>

    <main>
        {{> fragments/usernav}}

        <div class="main-chat-view">
            <section class="chat-room">
                <header class="chatroom-header">
                    <h2>메신저</h2>
                </header>

                <div class="chat-messages" role="log" aria-live="polite" aria-relevant="additions" tabindex="0">

                </div>

                <form class="chat-input">
                    <input type="text" id="chat-input-text" placeholder="메시지를 입력하세요." />
                    <button type="submit">전송</button>
                </form>
            </section>
        </div>

    </main>

    <script src="/user/js/common.js"></script>
</body>

</html>