.contents-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    gap: 8px;
}

.search-box select,
.search-box input {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    background: #2c3e50;
    color: #fff;
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

.board-button {
    display: flex;
    justify-content: space-between;
}

.board-button button {
    background-color: #2d3e50;
    color: #fff;
    width: 120px;
    height: 25px;
    margin: 20px 0;
    font-size: 15px;
}

.board-button-right button {
    background-color: #27ae60;
    color: #fff;
}


/* doc-btn */
.doc-botton {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.doc-botton .doc-btn {
    background-color: #2d3e50;
    color: #fff;
    padding: 8px 12px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.doc-botton .doc-btn:hover {
    background-color: #1f2a38;
}


/* 문서 리스트 테이블 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fff;
}

table thead {
    background: #f4f4f4;
}

table th,
table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

table th {
    font-weight: bold;
    background-color: #2c3e50;
    color: #fff;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table tbody button {
    background-color: #2d3e50;
    color: #fff;
    width: 70px;
    height: 25px;
    /* margin: 20px 0; */
    font-size: 15px;
}

table tbody button a {
    text-decoration: none;
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button,
.pagination span {
    padding: 8px 16px;
    height: 40px;
    line-height: 32px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 4px;
}

.pagination button {
    color: #2c3e50;
}

.pagination .prev-btn,
.pagination .next-btn {
    background-color: #2c3e50;
    color: #fff;
}

.pagination span.active {
    font-weight: bold;
}